<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHBbAx7R_n_APFc7YeO_iWOWhyMguxlIA</string>
	<key>GCM_SENDER_ID</key>
	<string>1066707130661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tawsoelSocialapp</string>
	<key>PROJECT_ID</key>
	<string>tawsal-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tawsal-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066707130661:ios:2d5e892a737eb139ba22cc</string>
</dict>
</plist>